<div class="container documents">
  <div class="row"> 
    <div class="col-md-12">      
      <div class="panel panel-primary">              
        <div class="panel-body">
          <highchart id="canvas" class="col-md-12" height = '500px;' config="chartConfig"></highchart>    
        </div>
      </div>
    </div>           
  </div>
  
  
  <div class="row">

    <!--Series-->
    <panel size="6" title="Series" ng-cloak>
          
      <wrapper max="10" min="1">
        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input type="text" class="form-control" ng-model="seriesName">
        </div>
      </wrapper>

      <wrapper max="10" min="1">
        <div class="input-group">
          <span class="input-group-addon">Color</span>
          <input class="color form-control" ng-model="seriesColor">
        </div>
      </wrapper>

      <wrapper max="10" min="1">
        <button type="button" class="btn btn-success btn-block" ng-click="addSeries()">Add Series</button>
      </wrapper>

      <wrapper max="10" min="1">
        <button type="button" class="btn btn-warning btn-block" ng-click="removeSeries()">Remove Series</button>
      </wrapper>

      <wrapper max="10" min="1">
        <button type="button" class="btn btn-danger btn-block" ng-click="resetSeries()">Reset Series</button>
      </wrapper>

    </panel>

    <!--Legend-->
    <panel size="6" title="Legend" ng-cloak>         

          <wrapper max="10" min="1">
            <div class="input-group">
              <span class="input-group-addon">Horizontal Align</span>           
              <select ng-model="legendAlign" ng-options='item for item in positions' class="form-control" ng-change="changeLegend()">
              </select>
            </div>
          </wrapper>
       
          <wrapper max="10" min="1">
            <div class="input-group">
              <span class="input-group-addon">Vertical Align</span>           
              <select ng-model="legendVerticalAlign" ng-options='item for item in verticalPositions' class="form-control" ng-change="changeLegend()">
              </select>
            </div>
          </wrapper>

          
          <wrapper max="10" min="1">
            <div class="input-group cnstMargin">
              <span class="input-group-addon">Layout</span>           
              <select ng-model="legendLayout" ng-options='item for item in layout' class="form-control" ng-change="changeLegend()">
              </select>
            </div>
          </wrapper>

          <wrapper max="10" min="1">
              <div class="col-md-6">
                {{legendX}}
                <input type="text" class="form-control" ng-model="legendX" ng-change="changeLegend()"/>
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control" ng-model="legendY" only-digits/>
              </div>
          </wrapper>

    </panel>

  </div>

  
  <div class="row">

    <!--Labels-->
    <panel size="6" title="Labels" ng-cloak>        
            
            <wrapper max="10" min="1">
              <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" ng-model="title" ng-keyup="changeTitle()">
              </div>
            </wrapper>
            
            <wrapper max="10" min="1">
              <div class="input-group">
                <span class="input-group-addon">Subtitle</span>
                <input type="text" class="form-control" ng-model="subtitle" ng-keyup="changeSubtitle()">
              </div>
            </wrapper>       
            
            <wrapper max="10" min="1">
              <div class="input-group">
                <span class="input-group-addon">x-axis</span>
                <input type="text" class="form-control" ng-model="xAxis" ng-keyup="changeXaxis()">
              </div>
            </wrapper>  
            
            <wrapper max="10" min="1">
              <div class="input-group cnstMargin">
                <span class="input-group-addon">y-axis</span>
                <input type="text" class="form-control" ng-model="yAxis" ng-keyup="changeYaxis()">
              </div>
            </wrapper>        

    </panel>

  </div>

  
  <div class="row">
    
    <!--Code-->
    <panel size="6" title="Code">        
            
            <wrapper max="10" min="1">
            <code hljs class="json">
options: {
  chart: {
      type: 'bar'
  },
  title: {
    text: $scope.title
},
  subtitle: {
      text: 'Subtitle'
  },
  xAxis: {
  title: {
    text: $scope.xAxis
  }
},
yAxis: {
  title: {
    text: {{yAxis}}
  }
},
legend: {
  align: 'center'
},

loading: false
}
            </code>
            </wrapper>    

   </panel>     
  </div>
