<div class="container documents">
  <div class="row"> 
    <div class="col-md-12">      
      <div class="panel panel-primary">              
        <div class="panel-body">
          <highchart id="canvas" class="col-md-12" height = '500px;' config="chartConfig"></highchart>    
        </div>
      </div>
    </div>           
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">              
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" ng-model="title" ng-keyup="changeTitle()">
          </div>           
        </div>
      </div>

      <div class="panel panel-primary">              
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">x-axis</span>
            <input type="text" class="form-control" ng-model="xAxis" ng-keyup="changeXaxis()">
          </div>           
        </div>
      </div>

      <div class="panel panel-primary">              
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">y-axis</span>
            <input type="text" class="form-control" ng-model="yAxis" ng-keyup="changeYaxis()">
          </div>           
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">              
        <div class="panel-body"> 
          <button type="button" class="btn btn-success btn-block" id="update" ng-click="addSeries()">Success</button>          
        </div>
      </div>
    </div> 
  </div>      
</div>
